@page
@model EMG.Areas.Modeles.Pages.DeleteModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Delete";
    if (!SignInManager.IsSignedIn(User))
    {
        Response.Redirect("/");
    }
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Modele</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modele.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modele.Nom)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Modele.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
