@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politique de confidentialite";
}
<h1>@ViewData["Title"]</h1>

<p>Merci de visiter notre site web. Cette page vous informe de notre politique de confidentialité concernant la collecte, l'utilisation et la divulgation de vos informations personnelles lorsque vous utilisez notre service.</p>

<h2>Collecte et utilisation des informations</h2>
<p>Nous ne collectons aucune information personnelle identifiable lorsque vous visitez notre site, à moins que vous ne choisissiez de nous fournir ces informations de manière volontaire.</p>

<h2>Cookies</h2>
<p>Notre site web utilise des cookies pour améliorer votre expérience. Vous avez la possibilité de désactiver les cookies dans les paramètres de votre navigateur si vous le souhaitez.</p>

<h2>Divulgation à des tiers</h2>
<p>Nous ne vendons, n'échangeons ni ne transférons vos informations personnelles identifiables à des tiers. Cela n'inclut pas les tierces parties de confiance qui nous aident à exploiter notre site web ou à mener nos affaires, tant qu'elles acceptent de garder ces informations confidentielles.</p>

<h2>Liens vers d'autres sites</h2>
<p>Notre site peut contenir des liens vers d'autres sites. Nous ne sommes pas responsables du contenu ou des pratiques de confidentialité de ces sites et encourageons nos utilisateurs à être conscients lorsqu'ils quittent notre site pour lire les déclarations de confidentialité de tout site qui collecte des informations personnelles.</p>

<h2>Modification de la politique de confidentialité</h2>
<p>Nous nous réservons le droit de mettre à jour ou de modifier notre politique de confidentialité à tout moment. Les changements seront effectifs dès leur publication sur cette page.</p>

<h2>Contactez-nous</h2>
<p>Si vous avez des questions concernant cette politique de confidentialité, vous pouvez nous contacter à l'adresse suivante : EMG@support.sn</p>