@page
@model EMG.Areas.Annonces.Pages.EditModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Edit";
    if (!SignInManager.IsSignedIn(User))
    {
        Response.Redirect("/");
    }
}

<h1>Edit</h1>

<h4>Annonce</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Annonce.Id" />
            <div class="form-group">
                <label asp-for="Annonce.Description" class="control-label"></label>
                <input asp-for="Annonce.Description" class="form-control" />
                <span asp-validation-for="Annonce.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annonce.CarId" class="control-label"></label>
                <select asp-for="Annonce.CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                <span asp-validation-for="Annonce.CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
